body {
  background-color: #f0f0f0;
  color: #333;
}

.nav-link.active {
  background-color: #6c757d;
  color: #fff !important;
  border-radius: 5px;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.bg-dark {
  background-color: #343a40 !important;
}

.bg-white {
  background-color: #ffffff !important;
}
